@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100&display=swap');


.mainContainer{
  width: 100%;
}
.secondMainContainer{
width: 100%;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.innerContainer{
  width: 50%;
  height: 72vh; 
  border: 1px solid lightgray; 
  overflow-y: auto;
  border-radius: 9px;
  margin-top: 54px;
}

.messageContainerSelf{
  margin: 10px;
  min-width: 210px;
  width: fit-content;
  height: auto;
  word-wrap:break-word;
  max-width: 234px;
  padding: 5px;
  border-radius: 9px;
  margin-left: auto;
  font-family: 'Roboto';
  font-weight: 400;
}

.messageContainerOthers{
  margin: 10px;
    min-width: 210px;
    width: fit-content;
    height: auto;
    word-wrap:break-word;
    max-width: 234px;
    padding: 5px;
    border-radius: 9px;
    font-family: 'Roboto';
    font-weight: 400;
}
.avatarNameIconsContainer{
  display: flex;
  align-items: center;
}
.avatarImage{
  width: 23px;
  height: 23px;
  border-radius: 50px;
}
::-webkit-scrollbar {
  display: none;
  }
.displayName{
  font-size: 15px;
  margin-left: 9px;
}
.messageBody{
  margin-top: 5px;
  font-size: 16px;
}


.formInputWrapper{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.messageSendButton{
  border: 0;
  background-color: transparent;
  margin-top: auto;
  width: 18%;
  height: 100%;
}
.messageSendButtonImage{
  width: 27px;
  height: 27px;
}


.textAreaAuto{
  width: 97%;
  height: 36px;
  outline: none;
  font-size: 16px;
  resize: none;
  border-radius: 18px;
  background-color: #EDEDED;
  padding: 8px 14px;
  border: 0;
  grid-area: 'text';
  margin-right: auto;
}



/* MEDIA */
/* MEDIA */
/* MEDIA */
/* MEDIA */
/* MEDIA */

@media screen and (max-width: 768px) {


.mainContainer{
  width: 100%;
  height: auto;
}

.innerContainer{
width: 100%;
height:100%;
border-radius: 0;
margin-bottom: auto;
margin-top: 45px;
border: 0;

}
.secondMainContainer{
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.messageContainerSelf{
  margin: 10px;
  min-width: 210px;
  width: fit-content;
  height: auto;
  word-wrap:break-word;
  max-width: 97%;
  padding: 5px;
  border-radius: 9px;
  font-family: 'Roboto';
  font-weight: 400;
}

.messageContainerOthers{
  margin: 10px;
  min-width: 210px;
  width: fit-content;
  height: auto;
  word-wrap: break-word;
  max-width: 97%;
  padding: 5px;
  border-radius: 9px;
  font-family: 'Roboto';
  font-weight: 400;
}
 .formInputWrapper{
  width: 100%;
  display: flex;
  flex-basis: auto;
  flex-shrink: 0;

  min-height: 45px;
  height: auto;
  box-sizing: border-box;

  padding: 5px 0;
} 


.textAreaAuto{
  width: 81%;
  height: 36px;
  outline: none;
  font-size: 16px;
  resize: none;
  border-radius: 18px;
  background-color: #EDEDED;
  padding: 8px 14px;
  margin-left: 3px;
}


.messageSendButton{
  border: 0;
  background-color: transparent;
  margin-top: auto;
  width: 18%;
  height: 100%;

}

.messageSendButtonImage{
  width: 27px;
  height: 27px;
}



} 